// Source
@import "./source/variable";
@import "./source/mixin";
@import "./source/typography";

//Header - Footer
@import "./base/default";
@import "./base/header";

//Content
@import "./content/slider";
@import "./content/homepage_content";
@import "./base/footer";
@import "./content/single-product";
@import "./content/taxonomy_product";
// @import "./content/category_product";
// @import "./content/contact_us";
// @import "./content/cart";
@import "./content/archive";

// Responsive
@import "./base/responsive";