.banner {
    margin-bottom: 0!important;
}
.banner-inner {
    // margin-top: 1000px;
    align-items: center;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    min-height: 700px;
    .banner-content {
        display: flex;
        .banner-content-inner {
            width: 90%;
            color: $white-color;
            padding-top: 300px;
            .banner-title {
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 30px;
            }
            .banner-description {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
.about-us {
    margin-top: 90px;
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    object-fit: cover;
    .left-col {
        @include col(50%);
        h2 {
            font-size: 30px;
            font-weight: 700;
            color: $main-color;
            margin-bottom: 20px;
            margin-top: 50px;
        }
        p {
            margin-bottom: 50px;
        }
        font-size: 16px;
        line-height: 30px;
    }
}
.all-category {
    h2 {
        margin-top: 90px;
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        color: $main-color;
    }
    .row-1 {
        .category-col {
            @include col(33.33%);
        }
        .category-bg {
            background-color: $category-background-color;
            padding: 50px 0 30px 0;
            @include transit (all, 0.5s);
            &:hover {
                img {
                    @include transformer(scale(1.1));
                }
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            img {
                @include transit (all, 0.5s);
            }
        }
        .category-1 {
            .img-frame-outer {
                padding: 0 50px;
                .img-frame {
                    position: relative;
                    height: 0;
                    padding-top: 100%;
    
                    &-inner {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        object-fit: cover
                    }
                }
            }
            h3 {
                padding: 20px 20px;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 25px;
                color: $category-text-color;
                font-weight: 700;
            }
        }
    }
    .row-2 {
        .category-col {
            @include col(50%);
        }
    }
}
.news {
    h2 {
        margin-top: 90px;
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        color: $main-color;
    }
    .news-col {
        @include col(33.33%);
        .news-col-1 {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: $category-background-color;
            .img-frame-outer {
                .img-frame {
                    position: relative;
                    height: 0;
                    padding-top: 65%;
    
                    &-inner {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        object-fit: cover
                    }
                }
            }
            .news-content {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 20px;
                h3 {
                    margin-bottom: 10px;
                    min-height: 48px;
                }
            }
        }
    }
}
.partner {
    margin-top: 80px;
    background-position: right 70%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 90px 0;
    h2 {
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        color: $main-color;
    }
    &-slider {
        margin: 0 -15px;
        &-inner {
            width: 16.66%;
            margin: 0 15px;
            height: 120px;
            align-items: center;
            display: flex!important;

            img {
                width: 100%;

            }
        }
    }
}