.bread-crumb {
    background-color: $header-top-background;
    &-inner {
        height: 50px;
        display: flex;
        line-height: 50px;
        color: $header-top-text-color;
        a {
            display: block;
            color: $header-top-text-color;
            &:hover {
                color: $main-color;
            }
        }
        p {
            margin-left: 15px;
        }
    }
}
.single-product {
    margin-top: 60px;
    &-col-1 {
        @include col(45%);
        .single-product-slider {
            .single-product-slider-img {
                box-sizing: border-box;
                &-inner {
                    position: relative;
                    padding-bottom: 100%;
                    /* overflow: hidden; */
                    height: 0;
                    .sps-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }
                
            }
        }
        .single-product-slider-bot {
            margin: 0 -15px;
            margin-top: 30px;
            .single-product-slider-img-bot {
                padding: 15px;
                box-sizing: border-box;
                &-inner {
                    position: relative;
                    padding-bottom: 100%;
                    /* overflow: hidden; */
                    height: 0;
                    .sps-img-bot {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: 1px solid $category-background-color;
                        box-sizing: border-box;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .slick-current {
                .sps-img-bot {
                    border: 1px solid $main-color;
                }
            }
        }
    }
    &-col-2 {
        @include col(55%);
        .single-product-content {
            width: 100%;
            h1 {
                text-transform: uppercase;
                span {
                    color: $header-top-text-color;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            h2 {
                span {
                    color: $header-top-text-color;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            h3 {
                span {
                    color: $header-top-text-color;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .contact-person {
                .cp-img {
                    @include col(20%);
                    &-inner {
                        height: 0;
                        padding-top: 100%;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            object-fit: cover;
                            border-radius: 50%;
                            box-sizing: border-box;
                            border: 1px solid $header-top-text-color;
                            padding: 2px;
                        }
                    }
                }
                .cp-info {
                    @include col(75%);
                    .cp-name {
                        margin-top: 10px;
                        font-size: 18px;
                        line-height: 16px;
                        margin-bottom: 20px;
                        color: $main-color;
                        font-weight: 700;

                    }
                    .cp-phone {
                        display: flex;
                        font-size: 16px;
                        line-height: 16px;
                        margin-bottom: 15px;
                        &:hover {
                            i {
                                color: $main-color;
                            }
                        }
                        a {
                            padding-left: 15px;
                        }
                        i {
                            color: $header-top-text-color;
                        }
                    }
                    .cp-email {
                        display: flex;
                        font-size: 16px;
                        line-height: 16px;
                        &:hover {
                            i {
                                color: $main-color;
                            }
                        }
                        a {
                            padding-left: 15px;
                        }
                        i {
                            color: $header-top-text-color;
                        }
                    }
                }
            }
        }
    }
    .product-description {
        &-inner {
            h2 {
                margin-top: 90px;
            margin-bottom: 30px;
            font-size: 30px;
            text-align: center;
            color: $main-color;
            }
            .product-description-img {
                border: 2px solid $header-top-background;
                padding: 15px;
                box-sizing: border-box;
                img {
                    // width: 100%;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}
.relevant-product {
    margin-bottom: 80px;
    h2 {
        margin-top: 90px;
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        color: $main-color;
    }
    
    &-slider {
        margin: 0 -15px;
        .rps-outer {
            padding: 15px;
            
            // border: 1px solid $category-background-color;
        }
        &-img {
            border: 1px solid $category-background-color;
            box-sizing: border-box;
            overflow: hidden;
            &:hover {
            h3 {
                color: $main-color;
            }
        }
            &-inner {
                position: relative;
                padding-bottom: 100%;
                height: 0;
                .rps-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // border: 1px solid $category-background-color;
                    box-sizing: border-box;
                    @include transit (all, 0.5s);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            h3 {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}