.banner-news {
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    p {
        text-align: center;
        padding-top: 150px;
        font-size: 50px;
        font-weight: 700;
        color: $white-color;
    }
}
.category-product {
    .category-tab {
        // display: flex;
        margin-top: 50px;
        margin-bottom: 30px;
        .tab-name {
            border-bottom: 3px solid $main-color;
            .tab-content {
                padding: 15px ;
                display: inline-block;
                text-transform: uppercase;
                font-size: 20px;
                color: $category-text-color;
                font-weight: 700;
                position: relative;
                @include transit(all, 1s);
                // &::after {
                //     content: '';
                //     position: absolute;
                //     width: 0%;
                //     top: 100%;
                //     left: 0;
                //     height: 3px;
                //     background-color: $main-color;
                //     @include transit(all, 0.5s);
                // }
                &:hover {
                    cursor: pointer;
                    color: $white-color;
                    background-color: $main-color;
                    &::after {
                        width: 100%;
                    }
                }
            }
            .tab-content-active {
                color: $white-color;
                background-color: $main-color;
                &::after {
                    width: 100%;
                }
            }
            
        }
    }
    .row {
        display: none;
        .category-product-col {
            @include col(33.33%);
        }
        .cp-background {
            background-color: $category-background-color;
            border: 1px solid $header-top-background;
            padding: 50px 0 30px 0;
            @include transit (all, 0.5s);
            &:hover {
                img {
                    @include transformer(scale(1.1));
                }
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            img {
                @include transit (all, 0.5s);
            }
        }
        .cp-item {
            .cp-img-frame-outer {
                padding: 0 50px;
                .cp-img-frame {
                    position: relative;
                    height: 0;
                    padding-top: 100%;
    
                    &-inner {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        object-fit: cover
                    }
                }
            }
            h3 {
                padding: 20px 20px;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 25px;
                color: $category-text-color;
                font-weight: 700;
            }
        }
    }
    .active {
        display: flex;
    }
}