$header-top-background: #F5F5F5;
$header-top-text-color: #b1b1b1;
$white-color: #fff;
$text-color: #282828;
$main-color: #0000FF;
$black-color:#000;
$category-background-color:#F0F0F0;
$category-text-color:#333333;


